<a href="https://colab.research.google.com/github/lyn12111/python_report/blob/main/BP_Ex5_10_2201228.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age=int(input("age="))
if age<20:
  print('20살 미만')
else:
  print('20살 이상')

age=21
20살 이상

In [ ]:
age=int(input("age="))
if 30<age and age<50:
  print('30이상 50이하')

age=40
30이상 50이하

In [ ]:
k=int(input("현재 온도를 입력하시오: "))
if 25<k:
  print('반바지를 입으세요.')
else:
  print('긴바지를 입으세요.')

현재 온도를 입력하시오: 26
반바지를 입으세요.

In [ ]:
score=int(input("성적을 입력하시오: "))
if 90<=score:
  print('A학점입니다.')
elif 80<=score<90:
  print('B학점입니다.')
elif 70<=score<80:
  print('C학점입니다.')
elif 60<=score<70:
  print('D학점입니다.')
else:
  print('F학점입니다.')

성적을 입력하시오: 90
A학점입니다.

In [ ]:
import random
x=random.randint(1,100)
y=random.randint(1,100)
z=x-y
print(x,"-",y,"=",z)

43 - 37 = 6

In [ ]:
n=int(input("정수를 입력하시오: "))
if n%3==0 and n%2==0:
  print('2와 3으로 나누어 떨어집니다.')

정수를 입력하시오: 6
2와 3으로 나누어 떨어집니다.

In [ ]:
a=int(input("복권번호를 입력하시오(0에서 99사이): "))
import random
x=random.randint(0,99)
digit1=x//10
digit2=x%10
digit3=a//10
digit4=a%10

print("당첨번호는 ",x,"입니다.")
if (digit1==digit3 and digit2==digit4) :
  print('상금은 100만원입니다.')
elif (digit1==digit3
      or digit1==digit3
      or digit2==digit3
      or digit2==digit4):
  print('상금은 50만원입니다.')
else:
  print('상금은 없습니다.')

복권번호를 입력하시오(0에서 99사이): 56
당첨번호는  31 입니다.
상금은 없습니다.